# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Node.js
# Attention: If you're using the https://github.com/vercel/pkg or
# similar tools, these files should be kept in version control.
# For that, comment out the lines below:
node_modules
.next
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local env files
.env*.local
.env

# Mac
.DS_Store

# Python virtual environment
_archive_externe/venv/